!!! 5
%html
  %head
    %meta{:charset => "utf-8"}/
    %meta{:content => "width=device-width initial-scale=1", :name => "viewport"}/
    %meta{:content => "IE=edge", "http-equiv" => "X-UA-Compatible"}/

    %title= 'Mali Accesorios'
    %link(rel="stylesheet" type="text/css" href='/stylesheets/bootstrap.css')
    %link(rel="stylesheet" type="text/css" href='/stylesheets/app.css')

    = haml :'layouts/shim'
  %body
    -#= haml 'layouts/header_nav'
    = haml :'layouts/header'
    = haml :'layouts/nav'
    = yield
    = haml :'layouts/bottom'
    = haml :'layouts/footer'
    %script(src="/js/jquery-3.0.0.min.js")
    %script(src="/js/bootstrap.js")
    %script(src="/js/app.js")

